body, html {
  background-color: #f5f5f5; /* Nicer white */
  color: #2f2e2d; /* Nicer black */
  font-family: Perpetua, Baskerville, Big Caslon, Palatino Linotype,
    Palatino, serif;
    font-size: clamp(100%, 1rem + 2vw, 24px); /* Responsive font size */
  line-height: calc(
    1em + 0.5rem
  ); /* Nicer standard line height, may need override for headings */
}
/* Make sure form inputs inherit font from parent instead of defaults */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove default margin */
* {
  margin: 0;
}

/* WELCOME, if you are reading this, why? This is an example of how not to do good CSS :) */
.pageHeading {
  font-size: 7vw;
  font-weight: 600;
  padding: 0;
  letter-spacing: 3px;
}
.belowHeading {
  color: rgb(107 114 128);
  margin-top: 1rem;
  letter-spacing: 3px;
}
.landingBox {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}